# =================
APP_ENV=local

# MODEL_ID=stabilityai/stable-diffusion-xl-base-1.0
MODEL_ID=SG161222/RealVisXL_V4.0
PHOTOMAKER_MODEL_ID=TencentARC/PhotoMaker-V2

# DEVICE=cpu
DEVICE=cuda

UPLOAD_DIR=uploads/faces
OUTPUT_DIR=outputs/generated
METADATA_DIR=outputs/metadata

HF_HOME=./models

FACE_MODEL=buffalo_l
UPSCALER_MODEL=GFPGAN
HF_DEBUG=1
HF_TOKEN=my_token
